.Not-Found-Container{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Not-Found-Heading{
    font-size: 44px;
}

.Not-Found-SubHeading{
    font-size: 24px;
}