.Header-Container{
    max-width: 1000px;
    width: auto;
}

.Brand{
    display: flex;
    align-items: center;
}

.Icon{
    font-size: 36;
}

.Icon-Text{
    font-weight: bold;
    color: black;
}
